[submodule "learn-projects/refine"]
	path = learn-projects/refine
	url = git@github.com:refinedev/refine.git
[submodule "learn-projects/crystal"]
	path = learn-projects/crystal
	url = git@github.com:graphile/crystal.git
[submodule "learn-projects/postgraphile-plugin-connection-filter"]
	path = learn-projects/postgraphile-plugin-connection-filter
	url = git@github.com:graphile-contrib/postgraphile-plugin-connection-filter.git
